header {
    background-color: rgba(120, 182, 236, 0.788);
    font-style: italic;
    height: 60px;
    text-align: center;
    align-content: center;
}

nav {
    border: solid 2px green;
    

}

